<footer class="page-footer">
    <form>
        <a href="~/RegisterPage.cshtml" class="button">Προηγούμενη σελίδα</a>
        <a href="~/Home.cshtml" class="button">Αρχική</a>
        <a href="~/NextPage.cshtml" class="button">Επόμενη σελίδα</a>
    </form>
</footer>
