<header class="page-header">
    <img src="~/Shared/images/logoFreecon1_1.png" alt="logoFreecon" />
    <form>
        <a href="~/Home.cshtml" class="button">Αρχική</a>
        <a href="~/WhoWeAre.cshtml" class="button">Σχετικά με εμάς</a>
        <a href="~/ContactPage.cshtml" class="button">Επικοινωνία</a>
    </form>
</header>