body{font-family: Tahoma;}
.firstrow{text-align: center; background-color: orange; font-size: 12px;}
.secondrow{text-align: center;}
h2{color:blue;}
.lastrow{text-align: center; background-color: orange; font-size: 12px;}
.li{font-weight: bold; text-decoration: underline;}
.tablefirstrow{font-weight: bold; text-align: center;}
.tablelastcol{text-align: center;}
snap{text-decoration: underline;}
