<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://personal-kalfountzou-freecon.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>personal-kalfountzou-freecon.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>personal-kalfountzou-freecon</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$personal-kalfountzou-freecon</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PersonalProfilePage" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:afdemp-coding-bootcamp.database.windows.net,1433;Initial Catalog=personal-kalfountzou-freecon_db;User ID=afdempc@afdemp-coding-bootcamp;Password=A1F2D3empC" Name="Data Source=tcp:afdemp-coding-bootcamp.database.windows.net,1433;Initial Catalog=personal-kalfountzou-freecon_db;User Id=afdempc@afdemp-coding-bootcamp;Password=A1F2D3empC" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FreeconDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PersonalProfilePage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(localdb)\MSSQLLocalDB;initial catalog=FreeconDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FreeconDB" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:afdemp-coding-bootcamp.database.windows.net,1433;Initial Catalog=personal-kalfountzou-freecon_db;User ID=afdempc@afdemp-coding-bootcamp;Password=A1F2D3empC" Name="Data Source=tcp:afdemp-coding-bootcamp.database.windows.net,1433;Initial Catalog=personal-kalfountzou-freecon_db;User Id=afdempc@afdemp-coding-bootcamp;Password=A1F2D3empC" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FreeconDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FreeconDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(localdb)\MSSQLLocalDB;initial catalog=FreeconDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="data.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FreeconDB-Web.config Connection String">
      <ParameterValue>data source=tcp:afdemp-coding-bootcamp.database.windows.net,1433;initial catalog=personal-kalfountzou-freecon_db;user id=afdempc@afdemp-coding-bootcamp;password=A1F2D3empC;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PersonalProfilePage-Web.config Connection String">
      <ParameterValue>data source=tcp:afdemp-coding-bootcamp.database.windows.net,1433;initial catalog=personal-kalfountzou-freecon_db;user id=afdempc@afdemp-coding-bootcamp;password=A1F2D3empC;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>